.mainContainer{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
table, th, td {
    border: 1px solid;
    padding: 10px;
  }

table {
    border-collapse: collapse;
    text-align: center;
    margin-top: 1rem;
  }

.orderConatainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}